*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Open Sans",sans-serif;
}
body{
    background: #d35400;
   
}
.search-box{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%);
background:#2f3640;
height: 40px;
padding: 10px;
border-radius: 40px;
display: flex;
justify-content: center;
align-items: center;

}
.search-box:hover>.search-text{
    width: 15rem;
    padding: 0 6px;
}
.search-box:hover>.search-btn{
   background: white;
   height: 30px;
   width: 30px;
}


.search-btn{
 color: #e84118;
 float: right;
 width:2.5rem;
 height: 2.5rem;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;


}
.search-text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width:0;

}
.search-icon{
    padding-right: 0.2rem;
}


   




